@media (min-width: $desktop-width) {
  .contact {
    width: 100%;
  }
}

.contact legend {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .contact legend {
    font-size: 36px;
    line-height: 36px;
  }
}

.contact__list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 233px;
}

@media (min-width: $desktop-width) {
  .contact__list {
    min-height: 230px;
    display: flex;
    justify-content: space-around;
  }
}

.contact__list-label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .contact__list-label {
    font-size: 20px;
    line-height: 30px;
  }
}

.contact__list-input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .contact__list-input {
    font-size: 20px;
    line-height: 30px;
  }
}

.contact__list-input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .contact__list-input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
