.controls__toggle {
  padding: 0;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .controls__toggle {
    font-size: 20px;
    line-height: 30px;
  }
}
