.main-container__products {
  margin: 0 auto;
  width: 320px;
  height: 302px;
  background-image: url("../img/cat-mobile.png");
  background-position: center;
  background-size: 100%, cover;
}

.main-container__products h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

.main-container__products p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
