.program-selection {
  min-height: 572px;
}

@media (min-width: $tablet-width) {
  .program-selection {
    min-height: 744px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    min-height: 374px;
  }
}

.program-selection__toggle {
  padding: 0;
  border: none;
  background-color: #68b738;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program-selection__toggle {
    font-size: 20px;
    line-height: 20px;
  }
}

.program-selection__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .program-selection__list {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .program-selection__list {
    flex-direction: row;
  }
}

.program-selection__item {
  margin-bottom: 5px;
  min-height: 266px;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .program-selection__item {
    min-height: 372px;
  }
}

.program-selection__item h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program-selection__item h3 {
    font-size: 36px;
    line-height: 36px;
  }
}

.program-selection__item p {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .program-selection__item p {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}

.program-selection__item a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .program-selection__item a {
    font-size: 20px;
    line-height: 30px;
  }
}
