.title h1 {
  margin: 0;
  padding: 0;
  min-height: 104px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .title h1 {
    min-height: 200px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .title h1 {
    min-height: 183px;
  }
}
