@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

* {
  outline: 0.5px solid #ff0000;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.title h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
}

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .main-header .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.main-header__logo {
  height: 65px;
}

@media (min-width: 768px) {
  .main-header__logo {
    width: 174px;
  }
}
@media (min-width: 1200px) {
  .main-header__logo {
    width: 202px;
  }
}
.main-nav .site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .main-nav {
    width: 440px;
  }

  .main-nav .menu-toggle {
    display: none;
  }

  .main-nav .site-list {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    width: 478px;
  }
}
.site-list a {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.main-container__products {
  margin: 0 auto;
  width: 320px;
  min-height: 440px;
  background-image: url("../img/cat-mobile.png");
  background-color: #008000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .main-container__products {
    width: 709px;
    min-height: 609px;
    background-image: none;
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .main-container__products {
    min-height: 696px;
  }
}
.main-container__products h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

@media (min-width: 768px) {
  .main-container__products h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #000000;
  }
}
.main-container__products p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .main-container__products p {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
  }
}
.program-selection {
  min-height: 572px;
}

@media (min-width: 768px) {
  .program-selection {
    min-height: 744px;
  }
}
@media (min-width: 1200px) {
  .program-selection {
    min-height: 374px;
  }
}
.program-selection__toggle {
  padding: 0;
  border: none;
  background-color: #68b738;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .program-selection__toggle {
    font-size: 20px;
    line-height: 20px;
  }
}
.program-selection__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .program-selection__list {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .program-selection__list {
    flex-direction: row;
  }
}
.program-selection__item {
  margin-bottom: 5px;
  min-height: 266px;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .program-selection__item {
    min-height: 372px;
  }
}
.program-selection__item h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .program-selection__item h3 {
    font-size: 36px;
    line-height: 36px;
  }
}
.program-selection__item p {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: 768px) {
  .program-selection__item p {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
.program-selection__item a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 768px) {
  .program-selection__item a {
    font-size: 20px;
    line-height: 30px;
  }
}
.advantages {
  min-height: 380px;
}

@media (min-width: 768px) {
  .advantages {
    min-height: 736px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    min-height: 372px;
  }
}
.advantages h2 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

@media (min-width: 768px) {
  .advantages h2 {
    font-size: 60px;
    line-height: 60px;
  }
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  min-height: 66px;
}

@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    grid-template-rows: 250px 250px;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
  }
}
.advantages__intro {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: 768px) {
  .advantages__intro {
    font-size: 16px;
    line-height: 24px;
  }
}
.result {
  background-color: #eaeaea;
  min-height: 700px;
}

@media (min-width: 768px) {
  .result {
    min-height: 1038px;
  }
}
@media (min-width: 1200px) {
  .result {
    min-height: 641px;
  }
}
.result h2 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

@media (min-width: 768px) {
  .result h2 {
    font-size: 60px;
    line-height: 60px;
  }
}
.result p {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: 768px) {
  .result p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .result__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .result__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.result__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.result__item span {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

@media (min-width: 768px) {
  .result__item span {
    font-size: 30px;
    line-height: 37px;
  }
}
.result__intro {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  color: #444444;
}

@media (min-width: 768px) {
  .result__intro {
    font-size: 14px;
    line-height: 14px;
  }
}
.result .result__price {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.result .result__price span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .result .result__price {
    font-size: 20px;
    line-height: 20px;
  }

  .result .result__price span {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
}
.controls__toggle {
  padding: 0;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .controls__toggle {
    font-size: 20px;
    line-height: 30px;
  }
}
.main-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-catalog__item h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}

.main-catalog__item-order {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
}

.main-catalog__item--show h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.main-catalog__item--show p {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.main-catalog__item--show button {
  border: none;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.main-catalog__additionally h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.main-catalog__additionally-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-catalog__additionally-item h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.main-catalog__additionally-description h4 {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.main-catalog__additionally-description span {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.main-catalog__additionally-item a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
}

.main-catalog__additionally-present {
  width: 280px;
  height: 290px;
  background-image: url("../img/present-mobile.png");
  background-position: center;
  background-size: 100%, cover;
}

.main-catalog__additionally-present p {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.description {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description__item h4 {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.description__item span {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.main-form p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.form__button {
  border: none;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
}

.form__wrapper span {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}

.user-name__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-name__list-label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.user-name__list-input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.user-name__list-input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.program__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.program__list-label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.contact legend {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.contact__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact__list-label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.contact__list-input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.contact__list-input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.comment legend {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.comment__input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.comment__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.additionally legend {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additionally__list-label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.main-footer__top {
  min-height: 474px;
}

@media (min-width: 1200px) {
  .main-footer__top .wrapper {
    position: absolute;
    left: auto;
    min-height: 400px;
  }
}
.main-footer__top .map {
  min-height: 362px;
}

@media (min-width: 768px) {
  .main-footer__top .map {
    position: relative;
    min-height: 400px;
  }
}
@media (min-width: 1200px) {
  .main-footer__top .map {
    min-height: 400px;
  }
}
.main-footer__top h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .main-footer__top h2 {
    font-size: 20px;
    line-height: 26px;
  }
}
.main-footer__top p {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: 768px) {
  .main-footer__top p {
    font-size: 16px;
    line-height: 20px;
  }
}
.main-footer__top--color {
  background-color: #f2f2f2;
}

.main-footer__bottom {
  background-color: #f2f2f2;
  min-height: 236px;
}

.main-footer__bottom img {
  width: 128px;
}

@media (min-width: 768px) {
  .main-footer__bottom .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.main-footer__bottom-link {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */